body {
  background: linear-gradient(
    to bottom,
    #3f51b1 0%,
    #5a55ae 13%,
    #7b5fac 25%,
    #8f6aae 38%,
    #a86aa4 50%,
    #cc6b8e 62%,
    #f18271 75%,
    #f3a469 87%,
    #f7c978 100%
  );
}

h1 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 37px;
}
ul {
  list-style: none;
  position: relative;
  line-height: 1.6em;
  padding: 0;
  padding-top: 20px;
}
footer {
  text-align: center;
  font-size: 85%;
}
li:first-letter {
  text-transform: capitalize;
}
a {
  text-decoration: none;
}
.container {
  font-family: "GFS Didot", serif;
}
.weather-main {
  max-width: 390px;
  height: 610px;
  margin: 15px auto 10px auto;
  padding: 18px;
  border: 1px solid rgba(131, 126, 184, 0.3);
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  color: #222831;
  border-radius: 10px;
}
.date {
  font-weight: 700;
  font-size: 16px;
}
.condition {
  font-weight: 700;
  font-size: 16px;
}
.current-temp {
  font-size: 100px;
}
.main-icon {
  width: 160px;
  height: 160px;
}
.humidity-wind {
  font-size: 13px;
}
.forecast-day {
  text-align: center;
}
.weather-forecast {
  padding-top: 20px;
}

.forecast-temperature {
  padding-top: 5px;
}
.weather-forecast img {
  display: block;
  margin: 0 auto;
}
.todays-temperature-container .active {
  color: #222831;
  cursor: default;
}
.fahrenheit {
  color: #3f51b1;
}
.todays-temperature-container {
  text-align: center;
}
.todays-temperature-container .units {
  position: relative;
  top: -56px;
  font-size: 18px;
  font-weight: bolder;
}
.info img {
  display: block;
  margin: 0 auto;
  position: relative;
  top: -10px;
}

.btn-light {
  background-color: #5a55ae;
  box-shadow: rgb(0 0 0 / 20%) 0px 10px 10px 0px;
  border: none;
}
